#lista-compras td, #lista-compras th {
	text-align: left;
}
.comprado-true {
	text-decoration: line-through;
	color: red;
}
.page-header {
    padding-bottom: 50px;
}
/* Create equal columns that float next to each other */
.input-column {
	float: left;
	width: 20%;
	padding: 10px;
}