<!DOCTYPE html>
<html>
<head>
  <title>Tub Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/application.css">
</head>
<body>
  <div class="container" ng-app="rulesManager" ng-controller="jsonGUIController">
    <div class="row">
      <div class="page-header">
        <div class="span1">
          <img src="img/frostbite_favicon.png">
        </div>
        <div class="span5">
          <h1>Deployment Rules</h1>
        </div>
        <ol style="list-style-type: none;">
          <li>
            <div class="span3">
              <input type="file" id="fileLoader" name="files" title="Load File" onchange="angular.element(this).scope().loadFile()" />
              <button class="btn btn-info btn-small" ng-click="openFile($filename)">
                  <i class="icon-file icon-white"></i> Load JSON rules file
              </button>
            </div>
          </li>
          <li>
            <div class="span3">
              <button class="btn btn-info btn-small" ng-click="exportFile($filename)" id="create">
                  <i class="icon-file icon-white"></i>Export JSON rules file
              </button>
              <a href="" download="Rules.json" id="filedownload"></a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <p style="float: left; margin-right: 10px; margin-top: 4px; font-weight: bold">Flavour:</p>
      <div class="span3">
        <select ng-model="selectedFlavour" ng-options="x.flavour for x in flavours" ng-change="updateSelection()"><select/>
          <br>
      </div>
      <div class="span2">
        <a href="#editCategoryField">
          <button class="btn btn-warning btn-small" ng-click="editCategory()">
            <i class="icon-pencil icon-white"></i> Modify Flavour
          </button>
      </a>
      </div>
      <div class="span2">
        <button ng-show="multiple" class="btn btn-danger btn-small" ng-click="deleteCategory()">
          <i class="icon-trash icon-white"></i> Delete Flavour
        </button>
      </div>
      <div class="span3" style="float: right">
        <input type="search" ng-model="search" placeholder="Filter...">
      </div>
    </div>

    <div class="row">
      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>Flavour</th>
            <th>Date Received</th>
            <th>Opened Status</th>
            <th>Date Opened</th>
            <th>Date Closed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tub in currentDisplay | filter:search">
            <td><strong>{{ tub.key }}</strong></td>
            <td>{{ tub.value }}</td>
            <td>{{ tub.key }}</td>
            <td>{{ tub.key }}</td>
            <td>{{ tub.key }}</td>
            <td>
              <a href="#editField">
                <button class="btn btn-warning btn-small" ng-click="editTub($index)">
                  <i class="icon-pencil icon-white"></i> Modify
                </button>
              </a>
              <button class="btn btn-danger btn-small" ng-click="deleteItem($index)">
                <i class="icon-trash icon-white"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form id="editField" class="row form-inline" name="validateEnteredValues">
      <input id="itemInput" type="text" ng-model="item.key" placeholder="Key" required>
      <input type="text" ng-model="item.value" placeholder="Value" required>
      <button ng-hide="edit" class="btn btn-success" ng-disabled="validateEnteredValues.$invalid" ng-click="addItem()">
        <i class="icon-plus icon-white"></i> Add
      </button>
      <button ng-show="edit" class="btn btn-success" ng-disabled="validateEnteredValues.$invalid" ng-click="applyChanges()">
        <i class="icon-ok icon-white"></i> Save
      </button>
    </form>

    <form id="editCategoryField" class="row form-inline" name="validateEnteredCategory">
      <input if="categoryInput" type="text" ng-model="category.name" placeholder="Category" required>
      <button ng-hide="catEdit" class="btn btn-success" ng-disabled="validateEnteredCategory.$invalid" ng-click="addCategory()">
        <i class="icon-plus icon-white"></i> Add
      </button>
      <button ng-show="catEdit" class="btn btn-success" ng-disabled="validateEnteredCategory.$invalid" ng-click="applyCategoryChanges()">
        <i class="icon-ok icon-white"></i> Save
      </button>
    </form>
  </div>
  
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="app/controllers.js"></script>

</body>
</html>