<!DOCTYPE html>
<html>
<head>
  <title>Tub Tracker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/angular-date-picker.css">
  <link rel="stylesheet" href="css/application.css">
</head>
<body>
  <div class="container" ng-app="tubTracker" ng-controller="jsonGUIController">
    <div class="row">
      <div class="page-header">
        <div class="span1">
          <img src="img/frostbite_favicon.png">
        </div>
        <div class="span5">
          <h1>Frostbite Tub Tracker</h1>
        </div>
        <ol style="list-style-type: none;">
          <li>
            <div class="span3">
              <button class="btn btn-success btn-small" ng-click="saveChanges()">
                  <i class="icon-file icon-white"></i>Save Changes
              </button>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="row">
      <p style="float: left; margin-right: 10px; margin-top: 4px; font-weight: bold">Flavour:</p>
      <div class="span3">
        <select ng-model="selectedFlavour" ng-options="x.flavour for x in flavours | orderBy:'flavour'" ng-change="updateSelection()"></select>
      </div>
      <div class="span2">
        <a href="#editFlavourField">
          <button class="btn btn-warning btn-small" ng-click="editFlavour()">
            <i class="icon-pencil icon-white"></i> Modify Flavour
          </button>
        </a>
      </div>
      <div class="span2">
        <a href="flavours.html">
          <button class="btn btn-info btn-small">
            <i class="icon-signal icon-white"></i> Full Flavour List
          </button>
        </a>
      </div>
      <div class="span3" style="float: right">
        <input type="search" ng-model="search" placeholder="Filter...">
      </div>
    </div>

    <form id="editField" class="row form-inline">    
      <input id="tubReceivedInput" type="text" ng-show="add||edit" ng-model="tubUnderEdit.date_received" ng-click="dateReceivedInput()" placeholder="Date Received" ng-init="tubUnderEdit.date_received = today()">
      
      <select ng-show="add||edit" ng-model="tubUnderEdit.status" ng-click="statusInput()" ng-init="tubUnderEdit.status = 'closed'">
          <option value="closed">closed</option>
          <option value="open">open</option>
          <option value="finished">finished</option>
      </select>
      <input id="tubOpenedInput" type="text" ng-show="add||edit" ng-model="tubUnderEdit.date_opened" ng-click="dateOpenedInput()" placeholder="Date Opened">
      <input id="tubClosedInput" type="text" ng-show="add||edit" ng-model="tubUnderEdit.date_closed" ng-click="dateClosedInput()" placeholder="Date Closed">
      <button ng-hide="edit" class="btn btn-success" ng-click="addTub()">
        <i class="icon-plus icon-white"></i> Add Tub
      </button>
      <button ng-show="edit" class="btn btn-success" ng-click="applyChanges()">
        <i class="icon-ok icon-white"></i> Save
      </button>
      <button class="btn btn-danger btn-small" ng-show="edit" ng-click="deleteTub()">
        <i class="icon-trash icon-white"></i> Delete
      </button>
    </form>

    <div id="editFieldDatePickers">
      <date-picker id="tubReceivedDatePicker" ng-model="tubUnderEdit.date_received" ng-show="dateReceivedInputActive" format-date="formatDate" parse-date="parseDate"></date-picker>
      <date-picker id="tubOpenedDatePicker" ng-model="tubUnderEdit.date_opened" ng-show="dateOpenedInputActive" format-date="formatDate" parse-date="parseDate"></date-picker>
      <date-picker id="tubClosedDatePicker" ng-model="tubUnderEdit.date_closed" ng-show="dateClosedInputActive" format-date="formatDate" parse-date="parseDate"></date-picker>
    </div>

    <form id="editFlavourField" class="row form-inline" name="validateEnteredFlavour">
      <input id="flavourInputFlavour" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.flavour" placeholder="Flavour Name">
      <select id="flavourInputSupplier" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.supplier" placeholder="Supplier">
          <option value="">Supplier</option>
          <option value="Nestle">Nestle</option>
          <option value="Ripples">Ripples</option>
      </select>
      <input id="flavourInputQuantityValue" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.quantity.value" placeholder="Quantity (value)">
      <select id="flavourInputQuantityUnit" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.quantity.unit" placeholder="Quantity (unit)">
          <option value="">Quantity Unit</option>
          <option value="L">L</option>
          <option value="unit">unit</option>
      </select>
      <input id="flavourInputPriceValue" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.price.value" placeholder="Price (value)">
      <select id="flavourInputPriceUnit" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.price.unit" placeholder="Price (unit)">
          <option value="">Price Unit</option>
          <option value="CAD">CAD</option>
      </select>
      <select id="flavourInputFormat" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.format" placeholder="Format (tub or individual)">
          <option value="">Format</option>
          <option value="tub">tub</option>
          <option value="individual">individual</option>
      </select>
      <select id="flavourInputType" type="text" ng-show="flavourAdd||flavourEdit" ng-model="flavourUnderEdit.type" placeholder="Type (ice cream, sorbet, sandwich, drumstick, etc)">
          <option value="">Type</option>
          <option value="ice cream">ice cream</option>
          <option value="sorbet">sorbet</option>
          <option value="sandwich">sandwich</option>
          <option value="drumstick">drumstick</option>
      </select>
      <button ng-hide="flavourEdit" class="btn btn-success" ng-click="addFlavour()">
        <i class="icon-plus icon-white"></i> Add Flavour
      </button>
      <button ng-show="flavourEdit" class="btn btn-success" ng-click="applyFlavourChanges()">
        <i class="icon-ok icon-white"></i> Save
      </button>
      <div class="span2">
        <button class="btn btn-danger btn-small" ng-show="flavourEdit" ng-click="deleteFlavour()">
          <i class="icon-trash icon-white"></i> Delete Flavour
        </button>
      </div>
    </form>

    <div class="row">
      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>Date Received</th>
            <th>Status</th>
            <th>Date Opened</th>
            <th>Date Closed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tub in currentDisplay | filter:search">
            <td>{{ tub.date_received }}</td>
            <td>{{ tub.status }}</td>
            <td>{{ tub.date_opened }}</td>
            <td>{{ tub.date_closed }}</td>
            <td>
              <button class="btn btn-primary btn-small" ng-show="tub.status == 'closed'" ng-click="openTub($index)">
                <i class="icon-ok icon-white"></i> Open Tub
              </button>
              <button class="btn btn-primary btn-small" ng-show="tub.status == 'open'" ng-click="closeTub($index)">
                <i class="icon-remove icon-white"></i> Close Tub
              </button>
              <a href="#editField">
                <button class="btn btn-warning btn-small" ng-click="editTub($index)">
                  <i class="icon-pencil icon-white"></i> Modify Tub
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <table id="open-tubs" class="table table-striped">
        <thead>
          <tr>
            <th>Current Open Flavours</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="flavour in openTubs">
            <td>{{ $index + 1}} - {{ flavour }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ol style="list-style-type: none;">
        <li>
          <div class="span3">
            <input type="file" id="fileLoader" name="files" title="Load File" onchange="angular.element(this).scope().uploadFlavours()" />
            <button class="btn btn-info btn-small" ng-click="openFile($filename)">
                <i class="icon-file icon-white"></i> Load Flavour History
            </button>
          </div>
        </li>
        <li>
          <div class="span3">
            <button class="btn btn-info btn-small" ng-click="exportChanges($filename)" id="create">
                <i class="icon-file icon-white"></i>Export Flavour History
            </button>
            <a href="" download="tubs.json" id="filedownload"></a>
          </div>
        </li>
      </ol>
  </div>
  
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="lib/angular-date-picker.js"></script>
  <script src="app/controllers.js"></script>

</body>
</html>